//
//  config-framework.xcconfig
//
//  Created by Károly Lőrentey on 2016-03-08.
//  Copyright © 2016 Károly Lőrentey.
//

PRODUCT_NAME = $(PROJECT_NAME)
INFOPLIST_FILE = Sources/Info.plist

PRODUCT_BUNDLE_IDENTIFIER = $(BUNDLE_IDENTIFIER_BASE).$(PLATFORM_DISPLAY_NAME:rfc1034identifier)

VERSIONING_SYSTEM =
CURRENT_PROJECT_VERSION = $(BUILD_NUMBER)
DYLIB_COMPATIBILITY_VERSION = $(BUILD_NUMBER)
DYLIB_CURRENT_VERSION = $(BUILD_NUMBER)
